.ourPracticeAreaCard {
  padding: 35px 30px 1px 30px;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
}
.ourPracticeAreaCard .cardName {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 400;
  display: block;
}
.ourPracticeAreaCard .cardDescription {
  margin-bottom: 24px;
  font-size: 20px;
  color: #66816a;
  font-weight: 300;
  line-height: 1.6;
}
