.ourPracticeArea {
  width: 100%;
  background-color: #f8f4f4;
  text-align: center;
  padding: 20px 0px;
  margin: 20px 0px;
}
.ourPracticeArea h2 {
  color: #2d0000;
  font-size: 46px;
  display: block;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}
.ourPracticeArea .container {
  width: 85%;
  margin: auto;
}
.ourPracticeArea .ourPracticeAreaSummary {
  padding-top: 10px;
  display: flex;
}
.ourPracticeArea .ourPracticeAreaSummary .ourPracticeAreaSummaryText {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.ourPracticeArea .ourPracticeAreaSummary .ourPracticeAreaSummaryText div {
  width: 49%;
}
